@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * ========
 * Local Fonts
 * ========
**/

/* Product Sans (Google's Logo Font) */
@font-face {
  font-family: "ProductSans";
  src: url("/fonts/ProductSans/Product\ Sans\ Regular.ttf");
}

@font-face {
  font-family: "ProductSans";
  src: url("/fonts/ProductSans/Product\ Sans\ Italic.ttf");
  font-style: italic;
}

@font-face {
  font-family: "ProductSans";
  src: url("/fonts/ProductSans/Product\ Sans\ Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "ProductSans";
  src: url("/fonts/ProductSans/Product\ Sans\ Bold\ Italic.ttf");
  font-style: italic;
  font-weight: bold;
}

/* Base styles */
@layer base {
  body {
    background-color: #fafafa;
  }

  /* Scrollbar Styling */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Scrollbar background */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Scrollbar Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(193, 193, 193);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgb(150, 150, 150);
  }
}

/* Custom component classes - mostly ones with complex or many attributes */
@layer components {
  .font-navlink {
    font-size: 16px; 
    font-family: "ProductSans"; 
    font-weight: 400; 
    text-wrap: nowrap;
    position: relative;
  }

  .anim-navlink {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    border-radius: 0px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    bottom: -15px;
    left: 0;

    background-color: #5F6368;
    transition: all 0.25s ease;
    transform: scaleX(0);
  }

  .anim-navlink-hover {
    transform: scaleX(1);
  }

  .dashed-box {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='48' ry='48' stroke='%23A1C5FEFF' stroke-width='8' stroke-dasharray='6%2c 22' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border: 0px solid rgba(161,197,254,1);
    border-radius: 48px;
    transition: all 0.2s ease-in-out;
  }

}