@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * ========
 * Local Fonts
 * ========
**/

/* Ensure the root elements take up the full viewport height */
html,
body,
#root {
  height: 100%;
  margin: 0; /* Remove default margin */
  padding: 0;
}

/* Set box-sizing for consistent sizing behavior */
* {
  box-sizing: border-box;
}

/* Product Sans (Google's Logo Font) */
@font-face {
  font-family: "ProductSans";
  src: url("/fonts/ProductSans/Product\ Sans\ Regular.ttf");
}

@font-face {
  font-family: "ProductSans";
  src: url("/fonts/ProductSans/Product\ Sans\ Italic.ttf");
  font-style: italic;
}

@font-face {
  font-family: "ProductSans";
  src: url("/fonts/ProductSans/Product\ Sans\ Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "ProductSans";
  src: url("/fonts/ProductSans/Product\ Sans\ Bold\ Italic.ttf");
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-VariableFont_opsz,wght.ttf");
  font-weight: 100 800;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-Italic-VariableFont_opsz,wght.ttf");
  font-style: italic;
  font-weight: 100 800;
}

/* Base styles */
@layer base {
  body {
    background-color: #fafafa;
  }

  /* Scrollbar Styling */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Scrollbar background */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Scrollbar Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(193, 193, 193);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgb(150, 150, 150);
  }
}

/* Custom component classes - mostly ones with complex or many attributes */
@layer components {
  .font-navlink {
    font-size: 16px;
    font-family: "ProductSans";
    font-weight: 400;
    text-wrap: nowrap;
    position: relative;
  }

  .anim-navlink {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    border-radius: 0px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    bottom: -15px;
    left: 0;

    background-color: #5f6368;
    transition: all 0.25s ease;
    transform: scaleX(0);
  }

  .anim-navlink-hover {
    transform: scaleX(1);
  }

  .dashed-box {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='48' ry='48' stroke='%23A1C5FEFF' stroke-width='8' stroke-dasharray='6%2c 22' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border: 0px solid rgba(161, 197, 254, 1);
    border-radius: 48px;
    transition: all 0.2s ease-in-out;
  }

  .bg-anim-in {
    animation: fadeIn 0.5s ease-in-out forwards;
  }

  .bg-anim-out {
    animation: fadeOut 0.5s ease-in-out forwards;
  }

  .modal-anim-in {
    animation: riseIn 0.3s ease-in-out forwards;
  }

  .modal-anim-out {
    animation: riseOut 0.3s ease-in-out forwards;
  }

  .shake-anim {
    animation: bellShake 0.75s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }

  .slide-left-exit-anim {
    animation: slideOutLeft 0.25s cubic-bezier(0, 0, 0.09, 1) forwards;
  }

  .slide-right-exit-anim {
    animation: slideOutRight 0.25s cubic-bezier(0, 0, 0.09, 1) forwards;
  }

  .slide-left-enter-anim {
    animation: slideInLeft 0.45s cubic-bezier(0.52, 0, 0.22, 1.42) forwards;
  }

  .slide-right-enter-anim {
    animation: slideInRight 0.45s cubic-bezier(0.52, 0, 0.22, 1.42) forwards;
  }

  /* All Animation Keyframes */
  @keyframes fadeIn {
    0% {
      opacity: 0;
      visibility: hidden;
      z-index: -1;
    }
    5% {
      opacity: 0;
      visibility: visible;
      z-index: 10;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
      visibility: visible;
      z-index: 10;
    }
    95% {
      opacity: 0;
    }
    100% {
      opacity: 0;
      visibility: hidden;
      z-index: -1;
    }
  }

  /* Upload page popup modal animations */
  @keyframes riseIn {
    0% {
      opacity: 0;
      transform: translateY(-5%);
    }
    100% {
      opacity: 1;
      transform: translateY(-10%);
    }
  }

  @keyframes riseOut {
    0% {
      opacity: 1;
      transform: translateY(-10%);
    }
    100% {
      opacity: 0;
      transform: translateY(-5%);
    }
  }

  /* Shaking animation for some icons */
  @keyframes bellShake {
    0% {
      transform: rotate(0);
    }
    15% {
      transform: rotate(5deg);
    }
    30% {
      transform: rotate(-5deg);
    }
    45% {
      transform: rotate(4deg);
    }
    60% {
      transform: rotate(-4deg);
    }
    75% {
      transform: rotate(2deg);
    }
    85% {
      transform: rotate(-2deg);
    }
    92% {
      transform: rotate(1deg);
    }
    100% {
      transform: rotate(0);
    }
  }

  /* Dashboard page - main body card swapping animations */
  @keyframes slideOutLeft {
    0% {
      margin-left: 0;
      transform: scale(1);
      opacity: 1;
    }
    100% {
      margin-left: -100px;
      transform: scale(0.9);
      opacity: 0;
    }
  }

  @keyframes slideInRight {
    0% {
      margin-left: 100px;
      transform: scale(0.9);
      opacity: 0;
    }
    100% {
      margin-left: 0px;
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes slideOutRight {
    0% {
      margin-left: 0;
      transform: scale(1);
      opacity: 1;
    }
    100% {
      margin-left: 100px;
      transform: scale(0.9);
      opacity: 0;
    }
  }

  @keyframes slideInLeft {
    0% {
      margin-left: -100px;
      transform: scale(0.9);
      opacity: 0;
    }
    100% {
      margin-left: 0px;
      transform: scale(1);
      opacity: 1;
    }
  }

}
